@font-face {
  font-family: poppins-bold;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins;
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: chonburi;
  src: url("../assets/fonts/Chonburi/Chonburi-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf");
}

.about-container {
  width: 22rem;
  background: #ffffff;
  background-image: linear-gradient(to bottom right, #c4c4c4, #ffffff);

  border-radius: 40px;
}

.ab-companyname {
  color: white;
  margin-left: 3rem;
}

.ab-textBox {
  margin-top: 10rem;
}

.ab-line1 {
  font-family: Chonburi;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.ab-line {
  border-top: 1px solid black;
  width: 5rem;
  display: block;
  margin: auto;
}

.ab-line2 {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
}

.ab-line3 {
  font-family: Poppins-bold;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.3px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
}

.ab-line4 {
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
}

.ab-arrow {
  font-size: 3rem;
  text-align: center;
  margin-left: 5rem;
}
