@font-face {
  font-family: poppins-light;
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: chonburi;
  src: url("../assets/fonts/Chonburi/Chonburi-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf");
}

.container {
  background: linear-gradient(180deg, #599a72 0%, rgba(89, 154, 114, 0) 100%);
  color: white;
  width: 22rem;
  display: block;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
}

.trash {
  width: 100%;
  margin-bottom: 2rem;
}

.company-name {
  font-family: Chonburi;
  text-align: center;
  font-family: Chonburi;
  font-size: 40px;
  font-weight: 400;
}

.request {
  text-align: right;
  font-family: Montserrat;
  font-size: 20px;
}

.threelines {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.line {
  margin-right: 1rem;
  width: 5rem;
  border-top: 1px solid white;
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.white-button {
  height: 61px;
  width: 15rem;
  border-radius: 45px;
  background: #ffffff;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.transparent-button {
  height: 61px;
  width: 8rem;
  border-radius: 45px;
  background: transparent;
  border: transparent;
  font-family: Montserrat;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
